
.parenthetical {
    white-space: nowrap;
}

main .warning p {
    padding: 10px 20px;
    margin: 20px 0;
}

main .warning p::before {
    content: "⚠️ ";
}

.light main .warning p,
.rust main .warning p {
    border: 2px solid red;
    background: #ffcece;
}

.rust main .warning p {
    /* overrides previous declaration */
    border-color: #961717;
}

.coal main .warning p,
.navy main .warning p,
.ayu main .warning p {
    background: #542626
}

/* Make the links higher contrast on dark themes */
.coal main .warning p a,
.navy main .warning p a,
.ayu main .warning p a {
    color: #80d0d0
}
